header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: red;
}

nav {
  color: white;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 100%;
  font-family: "Rock Salt", cursive;
}

.no-button:hover {
  color: black;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#Top10Container {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  background-color: white;
}

.savebtn {
  display: inline-block;
  height: 2rem;
  background-color: red;
  color: white;
  border-radius: 25%;
}

#genreDropdown {
  margin: 15px;
}

tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #ffcb86;
}

.songItem,
th {
  width: 30%;
}

table {
  width: 100%;
}

th {
  font-family: "Rock Salt", cursive;
}